<div class="container">

  <hgroup class="mb20">
    <h1>Friend Requests</h1>
    <h2 class="lead">
      <strong class="text-danger"><%= pluralize(@user.received_requests.count,'result') %></strong>
      found
    </h2>
  </hgroup>

  <section class="col-xs-12 col-sm-6 col-md-12">



    <% @user.received_requests.each do |user| %>

      <article class="search-result row">
        <%= render user %>
      </article>

    <% end %>

  </section>
</div>