<% @user ||= current_user %>
<div class="stats">
  <a href="<%= buddies_user_path(@user) %>" class="active">

    <strong id="buddy" class="stat">
      <%= pluralize(@user.buddies.count,'Friend') %>
    </strong>

  </a>

</div>